.container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.tagContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .6rem;
    padding: .5rem;
    font-weight: 600;
    line-height: 1.1rem;
    cursor: pointer;
    background-color: var(--second);
    color: var(--blackblue);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: .3s;
}

.tagContainer:hover {
    transform: scale(1.1);
}