.container {
  display: flex;
  position: relative;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.videoPres {
  display: flex;
  max-width: 300px;
  border: 2px solid var(--second);
  border-radius: 1rem;
  min-width: 300px;
  height: 600px;
  object-fit: contain;
}
.button {
  display: flex;
  position: absolute;
  top: 0;
  height: 100%;
  width: 60px;
  background-color: rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: center;
}
.buttonAfter {
  right: 0;
}
.buttonBefore {
  left: 0;
}
.cardInfo {
  color: var(--black);
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  position: absolute;
  max-width: 300px;
  bottom: 20%;
  left: 10%;
  padding: 1rem;
  border-radius: 1rem;
  background-color: rgba(242, 199, 68);
  z-index: 50;
  cursor: pointer;
  overflow: hidden;
}

.closeInfo {
  display: flex;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  padding: 0.4rem;
  font-weight: 600;
  font-size: 0.6rem;
  align-items: center;
}
