.container{
    display: flex;
    justify-content: center;
    color: var(--black);
    flex-direction: column;
    background-color: white;
    width: 100vw;
    
}
.containerHeader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    z-index: 1;background: rgb(242,199,68);
    background: -moz-linear-gradient(180deg, rgba(242,199,68,1) 33%, rgba(30,31,51,0) 100%);
    background: -webkit-linear-gradient(180deg, rgba(242,199,68,1) 33%, rgba(30,31,51,0) 100%);
    background: linear-gradient(180deg, rgba(242,199,68,1) 33%, rgba(30,31,51,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f2c744",endColorstr="#1e1f33",GradientType=1);
}
.svgTop{
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 200px;
}
.title{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight:800;
    letter-spacing: -.2rem;
}
.containerstack{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 500px;
}
.containerstack img {
    display: flex;
    object-fit: contain;
}
.persoxp{
    display: flex;

}
.softSkill{
    display: flex;
}
.pointOfInterest{display: flex;}